<%= simple_form_for(@profile) do |f| %>
  <%= f.error_notification %>
  
  <div class="row">
    <div class="form-inputs">
      <div class="col-md-6 col-xs-12">
        <%= f.input :name %>
        <%= f.input :institution_id %>
        <%= f.input :bio %>
        <%= f.input :photo %>
        <%= f.input :birthday %>
      </div>
      <div class="col-md-6 col-xs-12">
        <%= f.input :facebook %>
        <%= f.input :twitter %>
        <%= f.input :linkedin %>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-12">
      <div class="form-actions">
        <%= f.button :submit, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>
