<p id="notice"><%= notice %></p>

<h1>Listing Profiles</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Institution</th>
      <th>Bio</th>
      <th>Photo</th>
      <th>Birthday</th>
      <th>Facebook</th>
      <th>Twitter</th>
      <th>Linkedin</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @profiles.each do |profile| %>
      <tr>
        <td><%= profile.user_id %></td>
        <td><%= profile.name %></td>
        <td><%= profile.institution_id %></td>
        <td><%= profile.bio %></td>
        <td><%= profile.photo %></td>
        <td><%= profile.birthday %></td>
        <td><%= profile.facebook %></td>
        <td><%= profile.twitter %></td>
        <td><%= profile.linkedin %></td>
        <td><%= link_to 'Show', profile %></td>
        <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
        <td><%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Profile', new_profile_path %>
