<p id="notice"><%= notice %></p>

<h1><%= @profile.name %></h1>
<% if @profile.institution_id.present? %>
  <p>
    <h2>Instituição</h2>
    <strong><%= @profile.institution_id %></strong>
  </p>
<% end %>

<% if @profile.bio.present? %>
  <p>
    <h2>Bio</h2>
    <strong><%= @profile.bio %></strong>
  </p>
<% end %>

<% if @profile.photo.present? %>
  <p>
    <h2>Foto</h2>
    <strong><%= @profile.photo %></strong>
  </p>
<% end %>

<% if @profile.birthday.present? %>
  <p>
    <h2>Data de Nascimento</h2>
    <strong><%= @profile.birthday.strftime("%d/%m/%Y") %></strong>
  </p>
<% end %>

<% if @profile.facebook.present? %>
  <p>
    <h2>Facebook:</h2>
    <strong><%= @profile.facebook %></strong>
  </p>
<% end %>

<% if @profile.twitter.present? %>
  <p>
    <h2>Twitter:</h2>
    <strong><%= @profile.twitter %></strong>
  </p>
<% end %>

<% if @profile.linkedin.present? %>
  <p>
    <h2>Linkedin:</h2>
    <strong><%= @profile.linkedin %></strong>
  </p>
<% end %>


<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
