<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email %>
    <%= f.input :role, collection: User::ROLES.map {|role|[role.humanize,role]} %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
