<p id="notice"><%= notice %></p>

<h1>Listing Activities</h1>

<table class="table table-reponsive table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Type</th>
      <th>Year</th>
      <th>Period</th>
      <th>Subject</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.try(:name) %></td>
        <td><%= activity.description %></td>
        <td><%= activity.activity_type %></td>
        <td><%= activity.year %></td>
        <td><%= activity.period %></td>
        <td><%= activity.subject.try(:name) %></td>
        <td>
          <div class="btn-group pull-right">
            <%= link_to 'Exibir', activity, class: 'btn btn-default btn-sm' %>
            <% if can? :edit, activity %>
              <%= link_to 'Editar', edit_activity_path(activity), class: 'btn btn-default btn-sm' %>
            <% end %>
            <% if can? :destroy, activity %>
              <%= link_to 'Excluir', activity, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm'%>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Activity', new_activity_path, class: 'btn btn-primary' %>
