<p id="notice"><%= notice %></p>

<h1>Anexos</h1>

<table class="table table-striped table-responsive table-bordered">
  <thead>
    <tr>
      <th>Atividade</th>
      <th>Usuário</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @attachments.each do |attachment| %>
      <tr>
        <td><%= attachment.activity.name %></td>
        <td><%= attachment.activity.user.email %></td>
        <td>
          <div class="btn-group pull-right">
            <%= link_to 'Exibir', attachment, class: 'btn btn-sm btn-default' %>
            <%= link_to 'Editar', edit_attachment_path(attachment), class: 'btn btn-sm btn-default' %>
            <%= link_to 'Excluir', attachment, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
seiscentos
<br>

<%= link_to 'New Attachment', new_attachment_path %>
