<p id="notice"><%= notice %></p>

<p>
  <strong>Activity:</strong>
  <%= @attachment.activity_id %>

  <strong>File</strong>
  <%= image_tag @attachment.file_url.to_s %>
</p>

<%= link_to 'Edit', edit_attachment_path(@attachment) %> |
<%= link_to 'Back', attachments_path %>
