// Place all the styles related to the Activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.thumbnail{
	height: 250px;
}

.attachment_item{
	background-color: #eeeeee;
	border-radius: .4em;
	padding: .7em;
	margin: .3em 0;
}