/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap.min
 *= require_self
 *= require_tree .
 */

/*User Widget*/
body {
	font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'PT Sans Narrow', sans-serif;
}
.media
{
    /*box-shadow:0px 0px 4px -2px #000;*/
	/*padding: 7px 0;*/
}

.media img {
	width: 50px;
	height: 50px;
}
.dp
{
    border:5px solid #eee;
    transition: all 0.2s ease-in-out;
}
/*.dp:hover
{
    border:2px solid #eee;
    transform:rotate(360deg);
    -ms-transform:rotate(360deg);  
    -webkit-transform:rotate(360deg);  
    -webkit-font-smoothing:antialiased;
}*/

.media-body{
	padding-top: 5px;
}
/*User Widget END*/

/*nav*/
.nav-main{
	height: 65px;
	padding-top: 7px;
}


/*nav END*/