<%= simple_form_for(@activity) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-md-8">
        <%= f.association :subject, prompt: "Selecione" %>
        <%= f.input :activity_type, collection: Activity.activity_type_for_select, prompt: 'Selecione' %>
        <%= f.input :name %>
        <%= f.input :description, placeholder: "Conteúdo da atividade e/ou outras informações" %>
        <label>Período</label>
        <div class="row">

          <div class="col-md-6">
            <%= f.input :year, label: false, prompt: 'Ano', collection: Time.now.year-5..Time.now.year %>
          </div>
          <div class="col-md-6">
            <%= f.input :period, label: false, placeholder: 'Semestre' %>
          </div>
        </div>
        

        <%= f.nested_fields_for :attachments, wrapper_options: { class: 'attachment_item' } do |ff| %>
          <% if ff.object.file? %>
            <%= cl_image_tag ff.object.file, height: 175, crop: :scale %>
            <%= ff.check_box :remove_file %> 
          <% end %>
          
          <%= ff.input :file, as: :file %>
          <%= ff.input :file_cache, as: :hidden %>
          
          <%= ff.remove_nested_fields_link 'Remover', class: 'btn btn-sm btn-danger' %>
        <% end %>
      </div>

      <div class="col-md-4">
        <div id="attachments_container">

        </div>
        <%= f.add_nested_fields_link :attachments, 'Adicionar foto ou documento', data: { insert_into: 'attachments_container' }, class: 'btn btn-default btn-sm' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="form-actions">
        <%= f.button :submit, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>
