<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-xs-6">
    <h1>Atividades</h1>
  </div>
  <div class="col-xs-6">
    <%= link_to 'Enviar Atividade', new_activity_path, class: 'btn btn-primary pull-right' %>
  </div>
</div>
<div class="row">
  <% @activities.each do |activity| %>
    <div class="col-xs-6 col-sm-4 col-md-3">
      <%= link_to activity do %>
        <div class="thumbnail">
          <!-- <img src="http://placehold.it/640x320" alt="..."> -->
          <% if activity.attachments.any? %>
            <% if activity.attachments.first.file.format == 'png' || activity.attachments.first.file.format == 'jpg'%>
              <%= cl_image_tag activity.attachments.first.file, width: 640, height: 240, crop: :fill, angle: -10 %>
            <% else %>
              <%= cl_image_tag activity.attachments.first.file, width: 640, height: 240, crop: :fill, format: :png, angle: -10 %>
            <% end %>
          <% end %>

          <div class="caption">
            <h4><%= activity.try(:name)%></h4>
            <p><%= activity.description %></p>
            <p>
              <div class="btn-group pull-right">
                <% if can? :edit, activity %>
                  <%= link_to 'Edit', edit_activity_path(activity), class: 'btn btn-default btn-sm' %>
                <% end %>
                <% if can? :destroy, activity  %>
                  <%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm'%>
                <% end %>
              </div>
            </p>
          </div>
          <div class="clearfix"></div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<br>