<p id="notice"><%= notice %></p>

<h1><%= @activity.try(:name) %> - <%= @activity.subject.try(:name) %></h1>
Período: <%= @activity.year %>/<%= @activity.period %>
<h2>Descrição</h2>
<%= @activity.description %>

<h2>Tipo</h2>
<strong> <%= @activity.activity_type %></strong>

<div class="row">
  <div class="col-md-12 well">

    <h2>Arquivos (<%= @activity.attachments.count %>)</h2>
        <% @activity.attachments.each do |attachment| %>
          <% if attachment.file.present? %>
            <div class="col-md-3">
              <div class="thumbnail">
                <% if attachment.file.format == 'png' || attachment.file.format == 'jpg'%>
                  <%= cl_image_tag attachment.file, height: 175, crop: :scale %>
                <% else %>
                  <%= cl_image_tag attachment.file, height: 250, crop: :scale, format: :png %>
                <% end %>
              </div>  
            </div>
          <% end %>
        <% end %>

  </div>
</div>

<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
