<!DOCTYPE html>
<html>
<head>
  <title>Miprova</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow|Roboto" rel="stylesheet">
</head>
<body>
<% if user_signed_in? %>
  <nav class="navbar navbar-default nav-main">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">miProva</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="col-md-6">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <!-- <li><%= link_to 'Matérias', subjects_path %></li> -->
            <li><%= link_to 'Atividades', activities_path %></li>
            <!-- <li><%= link_to 'Anexos', attachments_path %></li> -->
            <!-- <li><%= link_to 'Professores', teachers_path %></li> -->
            <!-- <li><%= link_to 'Cursos', courses_path %></li> -->
            <!-- <li><%= link_to 'Instituições', institutions_path %></li> -->
            <!-- <li><%= link_to 'Usuários', users_path %></li> -->
          </ul>
    <!--         <ul class="nav navbar-nav pull-right">
            <li>
              Hello, <%= link_to current_user.email, user_profile_of(current_user) %>

              <span class="label label-default"><%= current_user.role.humanize %></span>
            </li>
            <li><%= link_to "Sair", destroy_user_session_path, :method => :delete %></li>
          </ul> -->
        </div><!-- /.navbar-collapse -->
      </div>
      <div class="col-md-4 pull-right">
        <div class="media">
            <%= link_to user_profile_of(current_user), class: 'pull-left' do %>
                <img class="media-object dp img-circle" src="http://placehold.it/50x50"">
            <% end %>
            <div class="media-body">
                <h5 class="media-heading">
                  <%= user_profile_of(current_user).name %>
                  <small><%= link_to "Sair", destroy_user_session_path, :method => :delete %></small>
                </h5>
                <h6>Software Developer at <a href="http://gridle.in">Gridle.in</a></h6>
            </div>
        </div>
      </div>
        
    </div><!-- /.container-fluid -->
  </nav>
<% end %>

<div class="container">
  <%= yield %>
</div>
</body>
</html>
